---
---

{% include header.html %}
<body>
    <div class="centerify-container">
        <div class="header">Frame of 42yeah</div>
        <div class="subheader">Uh oh.</div>
        <div class="article">
            <div class="actual-content">
                <h2>404 Not Found</h2>
                <p>
                    Relax, this page might just be gone temporarily. It might come back.
                </p>
                <p>
                    Meanwhile, why not chill around & visit some of my other stuffs? <a href="/">Let's go!</a>
                </p>
            </div>
        </div>
        {% include footer.html %}
    </div>
</body>