---
---

{% include header.html %}
<body>
    <div class="container">
        <h2><a href="/">Frame of <b>4</b>2yeah</a></h2>
        {% include bar.html %}
        Here's an non-exhaustive list of contacting me. Have fun!
        <div class="contact-list">
            <a href="mailto:potion@live.cn" class="contact">hotmail: potion@live.cn</a>
            <a href="mailto:42yeah@gmx.fr" class="contact">gmx: 42yeah@gmx.fr</a>
            <a href="https://paypal.me/42yeah" class="contact">paypal: 42yeah</a>
            <a href="https://twitter.com/POTION4" class="contact">twitter: POTION4</a>
            <a href="javascript:void(0)" class="contact">qq: 214346692</a>
            <a href="javascript:void(0)" class="contact">wechat: EMPOWEREDBYCOLA</a>
            <a href="https://github.com/42yeah" class="contact">github: 42yeah</a>
            <a href="https://steamcommunity.com/id/42yeah/" class="contact">steam: HaoZhouBenjiemigMotherFuckerXLII</a>
        </div>
        {% include footer.html %}
    </div>
</body>
