---
---

{% include header.html %}
<body>
    <div class="centerify-container">
        <div class="header">Frame of 42yeah</div>
        <div class="subheader">Yeah, I rewrote the blog again</div>
        <div class="posts">
            {% for post in site.posts %}
            <div class="post">
                <a class="title" href="{{ post.url }}">
                    <h1>{{ post.title }}</h1>
                    <div class="date">Posted in {{ post.date }}</div>
                </a> 
                <div class="excerpt">
                    <img class="featured" src="{{ post.featured }}">
                    <div class="actual-excerpt">
                        {{ post.content | strip_html | truncate: 500 }}
                        <a href="{{ post.url }}">continue reading</a>
                    </div>
                    
                </div>
            </div>
            {% endfor %}
        </div>
        {% include footer.html %}
    </div>
</body>
