---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Frame of 42yeah | {{ page.title }}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
</head>
<body>
    <div class="container">
        <h2><a href="/">Frame of <b>4</b>2yeah</a></h2>
        {% include bar.html %}
        <div class="article">
            <img src="{{ page.featured }}" class="featured">
            <div class="actual-content">
                <h1>{{ page.title }}</h1>
                {{ content }}
            </div>
        </div>
        
    </div>
</body>
