---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }} | Frame of 42yeah</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/codemirror.css">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <script src="/js/stdlib-flat.min.js"></script>
    <script src="/js/blog.js"></script>
</head>
<body>
    <div class="container">
        <h2><a href="/">Frame of <b>4</b>2yeah</a></h2>
        {% include bar.html %}
        <div class="article">
            <img src="{{ page.featured }}" class="featured">
            <div class="actual-content">
                <h1>{{ page.title }}</h1>
                <div id="googleTranslate"></div>
                {{ content }}
            </div>
        </div>
    </div>
    <script src="/js/codemirror.js"></script>
    <script src="/js/javascript/javascript.js"></script>
    <script src="https://translate.google.com/translate_a/element.js?cb=initGoogleTranslation"></script>
</body>
