---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }} | Frame of 42yeah</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/codemirror.css">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <script src="/js/stdlib-flat.min.js"></script>
    <script src="/js/blog.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
    <div class="centerify-container">
        <div class="header">{{ page.title }}</div>
        <div class="subheader"><a href="/">&lt;&lt; Home</a></div>
        <div class="article">
            <img src="{{ page.featured }}" class="featured">
            <div class="actual-content">
                <h1>{{ page.title }} <!-- <div id="googleTranslate"></div> --></h1>
                {{ content }}
            </div>
        </div>
        <div class="next">
            {% if page.previous.url %}
            <div class="next__item">
                <a href="{{ page.previous.url }}">Prev: {{ page.previous.title }}</a>
            </div>
            {% endif %}
            {% if page.next.url %}
            <div class="next__item">
                <a href="{{ page.next.url }}">Next: {{ page.next.title }}</a>
            </div>
            {% endif %}
        </div>
        {% include footer.html %}
    </div>
    <script src="/js/codemirror.js"></script>
    <script src="/js/javascript/javascript.js"></script>
    <!-- <script src="https://translate.google.com/translate_a/element.js?cb=initGoogleTranslation"></script> -->
</body>
